# Dependencies
node_modules/
target/
.pnp
.pnp.js

# Production build
dist/
build/
out/
*.tsbuildinfo

# Environment files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Key files / USB testing dummies
*.bin
!test/*.bin

# Temporary scratch
scratch/
